
body {
  height: 100%;
  background-color: #02024c;
  text-decoration: none;
}

.navbar {
  background-color: #10053d !important;
  z-index: 1;
}

.navbar-brand{
  color:#fff;
  padding-left: 20px;
}

#play-again{
  margin-left: -50px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: yellow;
}

#jumbotron{
  height: 550px;
  width:100%;
  background-color: #02024c
}

.sticker{
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.start-button-wrapper{
  display:flex;
  justify-content: center;
}

.rules-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  position: relative;
  place-items: center;
  height: 700px;
  margin-top: -20px;
   background-color: #02024c;
}

.rules {
  position: relative;
  width: 90%;
  height: 75%;
  border: 5px solid gold;
  z-index: 2;
 background-color: #000;
  margin-top: -40px;
}

.rules-header,
.rules-text {
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.rules-text{
  font-size: 17px;
}

.start-game1 {
  display: flex;
  justify-content: center;
}

.start-button1 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    margin-top: -20px;
    background-color: #000;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 20px #8D65A2;
  }

  .start-button1:hover {
    box-shadow: 0 4px #8D65A2;
    top: 2px;
  }

  .start-button1:active {
    box-shadow: none;
    top: 6px;
  }
  
/* Game Area */

.background-image1 {
  background-image: url(/assets/images/background-image.png);
  height: 300px;
  object-fit: contain;
  width: 100%;
  position: relative;
  z-index: -1;
}

/* Answer Section */

#question-answer {
  background-color: black;
  height: 450px;
  border-top: grey solid 3px;
  color: #fff;
  font-size: 27px;

}

.question-box {
  width: 200px;
      height: 50px;
      background: transparent;
      border-radius: 140px / 50px;
      border: silver solid 3px;
      color: #fff;
      justify-content: center;
      text-align: center;
      margin: 30px auto;
      font-size: 30px;
}

.answer-wrapper {
  background-color: #000;
  grid-template-columns: 70px 70px;
  grid-gap: 10px 20px;
  width: 280px;
  padding-top: 30px;
  display: flex;
   justify-content: center;
}

.answer-option {
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: sans-serif;
  width: 120px;
  height: 90px;
}

.answer-option:hover{
  background-color: gold;
}

.options{
  display:flex;
  justify-content:center;
}

.score-display {
  position: relative;
  z-index: 50;
  background-color: green;
  color: #000;
  height:40px;
  font-size: 22px;
  display: flex;
  justify-content: center;
}

.no-score-display {
  position: relative;
  z-index: 50;
  background-color: red;
   height:40px;
  color: #000;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

#show-score {
  color: #fff;
  width: 100%;
  background-color: #10053d;
  height:30px;
  padding-left: 20px;
  border: grey solid 3px;
}

.lives-tracker{
  padding-right:20px;
  margin-top: -36px;
  height: 30px;
  position: absolute;
  right: 0;
}

.end-game-lose {
  background-image: url(/assets/images/end-game-image.png);
  background-repeat: no-repeat;
  background-size: 100% 200px;
  display:flex;
  justify-content: center;
}

.end-game-win{
  background-image: url(/assets/images/end-game-image.png);
  background-repeat: no-repeat;
  background-size: 100% 200px;
  display:flex;
  justify-content: center;
  
}

.start-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  color: #fff;
  margin-top: 570px;
  background-color: #000;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 0 9px #8D65A2;
}

.start-button:hover {
  box-shadow: 0 4px #8D65A2;
  top: 2px;
}

.start-button:active {
  box-shadow: none;
  top: 6px;
}
  
/* Media Queries */

@media only screen and (min-width: 550px) {
  .sticker{
    width: 400px;
    height: 400px;
  }

  .start-button {
    margin-top: 650px;
  }

  .background-image1 {
    background-image: url(/assets/images/background-image.png);
    height: 300px;
    object-fit: contain;
    width: 100%;
    position: relative;
    z-index: -1;
  }
}

@media only screen and (min-width: 630px) {

  .lives-tracker{
    padding-right:20px;
    margin-top: -42px;
    height: 30px;
    position: absolute;
    right: 0;
  }

  #play-again{
    margin-left: -400px;
  }

  .background-image1 {
    background-image: url(/assets/images/background-image.png);
    height: 300px;
    object-fit: contain;
    width: 100%;
    position: relative;
    z-index: -1;
  }

  .end-game-lose {
    background-image: url(/assets/images/end-game-image.png);
    background-repeat: no-repeat;
    background-size: 600px 300px;
    margin-left: 20px;
    margin-right: 20px;
  }
}


  @media only screen and (min-width: 878px) {

    .lives-tracker{
      padding-right:20px;
      margin-top: -46px;
      height: 30px;
      position: absolute;
      right: 0;
    }
    
    #play-again{
      margin-left: -620px;
    }

    .background-image1 {
      background-image: url(/assets/images/larger-background.jpeg);
      height: 300px;
      width: 100%;
      position: relative;
      z-index: -1;
      background-size:cover;
      background-repeat: no-repeat;
    }

    .rules-header {
      font-size: 50px;
    }

    .rules-text {
      font-size: 22px;
    }
  }

@media only screen and (min-width: 991px) {
  
  #play-again {
      margin-left: 0px;
    }

  .background-image1 {
    height: 300px;
  }

  .end-game-lose {
    background-image: url(/assets/images/end-game-image.png);
    background-repeat: no-repeat;
    background-size: 600px 300px;
    margin-left: 150px;
    margin-right: 150px;
  }
  }
  

@media only screen and (min-width: 1109px) {

  .lives-tracker{
      padding-right:20px;
      margin-top: -50px;
      height: 30px;
      position: absolute;
      right: 0;
    }

  .background-image1 {
    background-image: url(/assets/images/larger-background.jpeg);
    height: 500px;
    max-width: 100%;
    position: relative;
    z-index: -1;
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: contain;
  }

  #question-answer {
    height: 400px;
  }

  .end-game-lose {
    background-image: url(/assets/images/end-game-image.png);
    background-repeat: no-repeat;
    background-size: 600px 300px;
    margin-left: 350px;
    margin-right: 350px;
  }
}
